%h1 New Space

= simple_form_for @space do |f|
	= f.input :suite
	%br
	= f.input :office_type
	%br
	= f.input :square_ft
	%br
	= f.input :rental_rate
	%br
	= f.input :tenant
	%br
	= f.input :lookup
	%br
	= f.button :submit, class: 'btn btn-success'
